.blog-entry {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.blog-input {
    flex-basis: 5vh;
}

.description {
    margin: 0vh 0vw 0vh 20vw;
    height: 20vh;
    width: 20vw;
}

.blog-submit {
    margin: 2vh 0vw;
    align-self: center;
}